<app-expenses-navbar></app-expenses-navbar>

<router-outlet></router-outlet>

<!-- <app-navbar [menuItems]="items" (menuVisited)="onMenuVisited($event)" />
<div>
    @switch (visibleSection) {
    @case ('menu1') {
        <app-expenses-register-expense></app-expenses-register-expense>
    }
    @case ('menu2') {
        <app-view-gastos-admin></app-view-gastos-admin>
    }
    @case ('menu3') {
        <app-view-owner-expense></app-view-owner-expense>
    }
    @case ('menu4') {
        <app-expenses-view-category></app-expenses-view-category>
    }
    @default {
        
    }
    }
</div> -->