<div class="container mt-4">
  <div class="card border">
    <div class="card-body">
      <h3 class="card-title mb-4">Consultar Gastos</h3>
      <div class="row mb-3">
        <div class="col">
          <label for="dateFrom" class="form-label">Fecha Desde</label>
          <input
            type="date"
            id="dateFrom"
            class="form-control"
            [(ngModel)]="dateFrom"
            name="dateFrom"
            placeholder="dd-mm-yyyy"
          />
        </div>
        <div class="col">
          <label for="dateTo" class="form-label">Fecha Hasta</label>
          <input
            type="date"
            id="dateTo"
            class="form-control"
            [(ngModel)]="dateTo"
            name="dateTo"
          />
        </div>
        <div class="col-md-6 d-flex align-items-end">
          <button
            type="button"
            class="btn btn-success mt-4"
            (click)="filterData()"
          >
            Filtrar
          </button>
        </div>
      </div>
      <div class="mt-4">
        <table id="myTable" class="table table-striped table-bordered display">
          <thead></thead>
          <tbody></tbody>
        </table>
      </div>

      <!-- Modal -->
      <div
        *ngIf="showErrorModal"
        class="modal"
        id="errorModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="errorModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Nota de credito</h5>
            </div>
            <div class="modal-body">
              El gasto ya esta cobrado. ¿Desea realizar una nota de credito?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="closeModal()"
              >
                Cancelar
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="deleteWithNoteCredit()"
              >
                Aceptar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
