<div class="modal fade" id="categoryEditModal" tabindex="-1" aria-labelledby="expenseModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="expenseModalLabel">Editar Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <label class="me-2">Descripcion:</label>
            <input
              class="form-control"
              *ngIf="category"
              [(ngModel)]="category.description"
              type="text"
            />
          </div>
          <div class="col-6 d-flex align-items-center">
            <label class="me-2">Estado:</label>
            <div class="form-check form-switch">
              <input
                type="checkbox"
                id="enabledSwitch"
                *ngIf="category"
                [checked]="category.state === 'Activo'"
                (change)="toggleState()"
                class="form-check-input"
                role="switch"
              />
              <label class="form-check-label" for="enabledSwitch">
                {{ category.state }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="edit()">Editar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>