<ng-select 
  [items]="ownersList" 
  bindLabel="fullName" 
  [placeholder]= "multiple ? 'Propietarios' : 'Propietario'"
  [bindValue]="multiple ? '' : 'id'"
  [multiple]="multiple"
  [(ngModel)]="selectValue"
  [closeOnSelect]="!multiple"
  (change)="onOwnerChange()"
  [selectableGroup]="true"
  [clearable] = "multiple"
  >
  
  @if (multiple) {
    <ng-template ng-multi-label-tmp let-items="items">
      @if(items.length == 1){
          {{ items[0].description }}
      }
      @if(items.length>1){
          {{ items.length }} seleccionados
      }
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
      <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.name }}
    </ng-template>
  }
</ng-select>