/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "@ng-select/ng-select/themes/default.theme.css";

.floating-btn {
    position: fixed;
    top: 100px; /* Distancia desde la parte inferior */
    right: 20px;  /* Distancia desde la derecha */
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
    z-index: 15;
  }
