<div class="modal fade" id="categoryRegisterModal" tabindex="-1" aria-labelledby="expenseModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="expenseModalLabel">Registrar Categoría</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <p>Descripción:</p><input class="form-control"
              class="form-control form-control-sm"
              *ngIf="category"
              [(ngModel)]="category.description"
              name="description"
              #description="ngModel"
              type="text"
              required
              [ngClass]="{
                'is-valid': description.valid && (description.dirty || description.touched),
                'is-invalid': description.invalid && (description.dirty || description.touched)
              }">
              
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="save()"[disabled]="validateDescription()">Guardar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearInputs()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>