<ng-select 
  [items]="providersList" 
  bindLabel="description" 
  placeholder="Proveedores"
  [multiple]="true"
  [(ngModel)]="selectedProviders"
  [closeOnSelect]="false"
  (change)="onProviderChange()"
  [selectableGroup]="true">
  
  <ng-template ng-multi-label-tmp let-items="items">
    @if(items.length == 1){
        {{ items[0].description }}
    }
    @if(items.length>1){
        {{ items.length }} seleccionados
    }
  </ng-template>

  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.description }}
  </ng-template>
</ng-select>